<%- include('../partials/header') %>
<div id="list">
        <% sneakers.forEach(function(s) { %>
                <div>
                   <a href="/sneakers/<%= s._id %>"><img src="<%= s.img %>" alt=""></a>
                </div>
                <div><%= s.name %></div>
                <div><%= s.price %></div>
            <% }); %>
</div>
<%- include('../partials/footer') %>