<%- include('../partials/header') %>

<div class="details">
    <img class="pic" src="<%= sneaker.img %>" alt="">
    <img class="pic" src="<%= sneaker.img2 %>" alt="">
</div>
<div class="details"><%= sneaker.name %></div>
<div class="details" ><%= sneaker.price %></div>


<%- include('../partials/footer') %>rs