<%- include('../partials/header') %>

<div class="details">
    <%= cart.length %>
    <% cart.forEach(sneakerId => { %>
        <%= sneakerId %>
        <% var sneakerDetails = sneakers.filter(sneaker => sneaker.id === sneakerId) %>

        <%= sneakerDetails.length %>
        <% sneakers.forEach(sneaker => { %>

            <h1>hi</h1>
            <% if(sneakers.indexOf(sneakerId) !== -1){ %>
               

                <h1><%= sneaker.name %></h1>
            <% } else {%>

            <% } %>

        
        <% }); %>
            
    <% }); %>

</div>


<%- include('../partials/footer') %>