<%- include('../partials/header') %>

<div class="details">
    <%= cart.length %>
    <% sneakerDetails.forEach(sneaker => { %>
        <img id="cartImg" src="<%= sneaker.img %>" alt="sneaker"/>
        <%= sneaker.name %>
        <%= sneaker.price %>
    <%  }) %>
</div>

<form action="/" method="POST">
    <input type="submit">
</form>


<%- include('../partials/footer') %>