<%- include('../partials/header') %>
    <div class="details">
        <img class="pic" src="<%= sneaker.img %>" alt="">
        <img class="pic" src="<%= sneaker.img2 %>" alt="">
    </div>
    <div class="details"><%= sneaker.name %></div>
    <div class="details" ><%= sneaker.price %></div>

    <!-- <button type="button" onclick="">ADD TO CART</button> -->
    <form action="/cart" method="POST">
        <!-- <label><%= sneaker.size %></label> -->
        <input type="hidden" name="name" value="<%= sneaker.name%>">
        <input type="hidden" name="size" value="<%= sneaker.size%>">
        <input type="hidden" name="price" value="<%= sneaker.price%>">
        <input type="hidden" name="img" value="<%= sneaker.img%>">
        <input type="hidden" name="img2" value="<%= sneaker.img2%>">
        <input type="submit">
    </form>
<%- include('../partials/footer') %>