<%- include('../partials/header') %>
    <div class="details">
        <img src="<%= sneaker.img %>" alt="">
    </div>
    <div class="details"><%= sneaker.name %></div>
    <div class="details" ><%= sneaker.price %></div>


<%- include('../partials/footer') %>