<%- include('../partials/header') %>
    <div class="details">
        <img class="pic" src="<%= sneaker.img %>" alt="">
        <img class="pic" src="<%= sneaker.img2 %>" alt="">
    </div>
    <div class="details"><%= sneaker.name %></div>
    <div class="details" ><%= sneaker.price %></div>

    <!-- <button type="button" onclick="">ADD TO CART</button> -->
    <form action="/cart" method="POST">
        <!-- <label><%= sneaker.size %></label> -->
        <input type="hidden" name="_id" value="<%= sneaker._id%>">
        <input type="submit">
    </form>
<%- include('../partials/footer') %>